@import url("//cdn.web-fonts.ge/fonts/alkdots/css/alkdots.min.css");


li {
 	color: #8D81FF;
 	display: inline-block;
 	margin-left: 20px;
 }

 .toy {
 	 color: #4E6FAE;
 }

 img {
 	display: inline-block;
 }

 .style {
 	display: inline-block;
 	margin-left: 40px;
 }

 .something {
 	width: 1660px;
 	height: 735px;
 	background: #E7E7E7;
 	margin-top: 50px;
 	display: inline-block;
 	font-family: "ALKDots", sans-serif;

 }
 .something div {
 	display: inline-block;
 	vertical-align: middle;
 }
 .something h1 {
 	width: 474px;
 	height: 34px;
 	color: #4E6FAE;
  	padding: 30px;
 }
 .address {
 	color: #7E8898;
 	display: inline-block;
 	top left: 10p;
 }
 .currentaddress {
 	margin: inline-block;
 	color: #3F4145;
 	top left: 10px;
 }
 .photo {
 	width: 900px;
 	height: 549px;
 	display: inline-block;
 	vertical-align: middle;
 }

 .line {
	width: 5px;
	height: 40px;
	background: black;
	display: inline-block;
	margin-top: 100px;
}
.phot {
	margin-top: 100px;
}