li {
 	color: #8D81FF;
 	display: inline-block;
 }

 .news {
 	color: #4E6FAE;
 	margin-left: 20px;
 	margin-right: 20px;
 }

 img {
 	display: inline-block;
 	width: 70px;
 }

 .style {
 	display: inline-block;
 	margin-left: 40px;
 }

 .picture {
 	margin-top: 50px;
 	margin-left: 70px;
 }
 .line {
	width: 10px;
	height: 40px;
	background: black;
	display: inline-block;
	margin-right: 70px;
	margin-top: 40px;
	color: #5012D5;
 }
 .word {
 	width: 200px;
 	height: 34px;
 	display: inline-block;
 	margin-top: 40px;
 	color: #4E6FAE;
 }
 .letter {
 	display: inline-block;
 	margin-top: 40px;
 	width: 484px;
	height: 34px;
	top: 255px;
	left: 1070px;
	color: #4E6FAE;
 }

 .container {
 	width: 500px;
 	height: 200px;
 	background-color:  #E7E7E7;
 	margin-top: 50px;
 	padding: 30px;
 	display: inline-block;
 	margin-right: 30px;
 }
.container h2 {
	font-size: 20px;
	color: #3F4145;
	margin-bottom: 20px;
}

.container p {
	color: #7E8898;
	font-size: 16px;
	display: inline-block;
	width: 335px;
	margin-left: 30px;
}

.box {
	width: 500px;
 	height: 200px;
 	background-color:  #E7E7E7;
 	margin-top: 70px;
 	padding: 30px;
 	display: inline-block;
}

.box h2 {
	font-size: 20px;
	color: #3F4145;
	margin-bottom: 20px;
}
.box p {
	color: #7E8898;
	font-size: 16px;
	display: inline-block;
	width: 335px;
	margin-left: 30px;
}


.line {
	width: 5px;
	height: 40px;
	background: black;
	display: inline-block;
	margin-top: 100px;
}
.phot {
	margin-top: 100px;
}